.container {
  width: 600px;
  height: 600px;
  border: 1px solid;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  background: #231f20;
  position: relative;
}

.track {
  padding: 0 20px 30px;
  position: relative;
}

.track:last-child {
  padding: 0 20px 10px;
}

.main {
  font-size: 24px;
}

.song {
  color: #a29e9f;
}

.artist {
  color: #fff;
}

.label {
  color: #fff;
  font-size: 18px;
  font-style: italic;
  transform: translateY(-3px);
}

.image {
  position: absolute;
  width: 600px;
  height: 600px;
  overflow: hidden;
}

.image img {
  display: block;
  mix-blend-mode: hard-light;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #49eb79;
}

.showImg .song {
  color: #121212;
}

.featureTitle {
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
  padding: 0 20px 30px;
  position: relative;
}

.drop {
  display: inline-block;
  transform: translateY(5px);
}
